@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center alert alert-dark" >
        <h1 class="display-4">Covid Management System</h1>
    </div>
    <div class="jumbotron">
        <ul>
            <li>
                <p>A system to manage Covid-19 Cases</p>
            </li>
        </ul>
    </div>


